fastapi==0.115.6
uvicorn[standard]
sqlalchemy==2.0.37
pymysql
alembic
python-dotenv
pydantic==2.9.2
pydantic-settings==2.6.1
pytz
apscheduler
python-multipart
requests
httpx
jinja2
itsdangerous
cryptography
qrcode[pil]
openpyxl
